@mixin square($size) {
  width: $size;
  height: $size;
  border-color: red;
}

.avatar {
  background: lightcoral;
  /* Pot sa si specific variabila, daca e mai usor de citit, sau pot doar sa trec valorile*/
  @include square(100px);
}

.avatar--large {
  background: royalblue;
  margin-top: 16px;
  @include square(200px);
}
