.header-contacts {
    display: flex;
}

.header-contact__item:not(:last-child) {
    margin-right: 50px;
}

.header-contact__item {
    display: block;
}

.header-contact__icon {
    fill: currentColor;
    margin-right: 10px;
}

.header-contact__link {
    display: flex;
    align-items: center;
    color: $darkColor;
    padding: 32px 0 31px 0;
    font-weight: 500;
    font-size: $fontSize;
    line-height: 16px;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: $brightAccentColor;
    }
}