.footer {
    background-color: $darkBackgroundColor;
    padding: 60px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-address-link {
    color: $darkColor;
    font-weight: 400;
    line-height: 24px;
    font-size: $fontSize;
    letter-spacing: 0.03em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: $lightColor;
        }
}

.footer-wrapper {
    margin-left: 70px;
}

.footer-header {
    font-weight: 700;
    font-size: $fontSize;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $lightColor;
    margin-top: 15px;
}