.logo {
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: $brightAccentColor;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.logo--footer {
    display: block;
    margin-bottom: 10px;
}