.advantage {
    display: flex;
}

.advantage__item {
  width: 270px
}

.advantage__item:not(:last-child) {
  margin-right: 30px;
}

.advantage__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: $lightBackgroundColor;
    border-radius: 4px;
    margin-bottom: 30px;
}

.advantage__heading {
    font-weight: 700;
    line-height: 16px;
    font-size: $fontSize;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantage__text {
    font-weight: 400;
    line-height: 24px;
    font-size: $fontSize;
    letter-spacing: 0.03em;
    color: $darkColor;
}