.client {
    display: flex;
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid $primaryRestingIconFill;
    border-radius: 4px;
    color: $primaryRestingIconFill;
    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      border: 1px solid $brightAccentColor;
      color: $brightAccentColor;
        }
}

.clients__item:not(:last-child) {
    margin-right: 30px;
}

.clients__icon {
    fill: currentColor;
}