// $fontFamily:  Roboto;
// $secondaryFontFamily: Raleway;
// $backUpFontFamily; sans-serif;

$primaryBackgroundColor: #FFFFFF;
$lightBackgroundColor: #F5F4FA;
$darkBackgroundColor: #2F303A;

$primaryColor: #212121;
$lightColor: #FFFFFF;
$darkColor:  #757575;

$brightAccentColor: #2196F3;
$primaryButtonFocusColor: #188CE8;

$primaryRestingIconFill: #AFB1B8;
$secondaryRestingIconFill: #FFFFFF;

$noListStyle: none;
$noTextDeco: none;
